mainmenu "Twan Configuration"

# Hardware

config NUM_CPUS
    int "Maximum cpu count"
    range 1 1024
    default 32

config NUM_IOAPICS
    int "IOAPIC count"
    range 1 15
    default 1

# Kernel

config KERNEL_SCHED_AGING
    bool "Enable kernel task aging"
    default n

config KERNEL_SCHED_GLOBAL_QUEUE
    bool "Enable global kernel scheduling queue across all cores"
    default n

config KERNEL_SCHED_NUM_CRITICALITIES
    int "Criticality level count for kernel tasks"
    range 1 255
    default 5

config KERNEL_SCHED_TIME_SLICE_MS
    int "Kernel task time slice in milliseconds"
    range 1 4294967295
    default 10

config KERNEL_MAX_HEAP_SIZE
    int "Maximum kernel heap size"
    range 0 1073741824
    default 1073741824

config KERNEL_MAX_VMA_PARTITIONS
    int "Maximum kernel vma partitions"
    range 2 261632
    default 512

config KDBG_PANIC_ON_BUG
    bool "Kpanic when KBUG checks flag a bug"
    default n

# Subsys

config SUBSYS_SHUTDOWN
    bool "Enable shutdown subsystem"
    default n

config SUBSYS_WATCHDOG
    bool "Enable watchdog subsystem"
    default n

config SUBSYS_MUTEX
    bool "Enable mutexes"
    default y

config SUBSYS_SEMAPHORE
    bool "Enable semaphores"
    default y

config SUBSYS_TWANVISOR
    bool "Enable twanvisor subsystem"
    default y

config SUBSYS_CLOCK
    bool "Enable clock subsystem"
    default y

config SUBSYS_SLEEP
    bool "Enable sleep subsystem"
    default y

config SUBSYS_TIMEOUT
    bool "Enable timeout subsystem"
    default y

if SUBSYS_TWANVISOR

config TWANVISOR_PV_LOCKS
    bool "Enable kernel paravirtualised locking"
    default y

config TWANVISOR_PV_IPIS
    bool "Enable kernel paravirtualised ipis"
    default y

config TWANVISOR_VIPI_DRAIN_STRICT
    bool "Enable strict IPI draining"
    default y

config TWANVISOR_VSCHED_NUM_CRITICALITIES
    int "Criticality level count for twanvisor guests"
    range 1 255
    default 5

config TWANVISOR_NUM_VTIMERS
    int "Virtual timer count"
    range 3 255
    default 3

config VDBG_PANIC_ON_BUG
    bool "Vpanic when VBUG checks flag a bug"
    default n

config MITIGATION_SPECTRE_RSB
    bool "Enable Spectre-RSB mitigations"
    default y

config MITIGATION_INTRAMODE_BTI
    bool "Enable mitigations for chaining Branch History Injection to Branch Target Injection"
    default y

config MITIGATION_BHI
    bool "Enable mitigations for Branch History Injection"
    default y

config MITIGATION_BTI
    bool "Enable mitigations for Branch Target Injection"
    default y

config MITIGATION_MDS
    bool "Enable mitigations for Microarchitectural Data Sampling"
    default y

config MITIGATION_L1TF
    bool "Enable mitigations for L1 Terminal Fault"
    default y

config MITIGATION_RETBLEED_S
    bool "Enable mitigations for retbleed in supervisor modes"
    default y

config MITIGATION_RETBLEED_U
    bool "Enable mitigations for retbleed in user modes"
    default y

config DISABLE_SSTLF
    bool "Disable speculative store to load forwarding"
    default y

config DISABLE_SSB
    bool "Disable speculative store bypass"
    default y

config DISABLE_DDP_U
    bool "Disable data dependant prefetchers in user modes"
    default n

config DISABLE_BRANCH_PREDICTION_S
    bool "Disable branch prediction in supervisor modes"
    default n

config DISABLE_BRANCH_PREDICTION_U
    bool "Disable branch prediction in user modes"
    default n

endif # SUBSYS_TWANVISOR

# Demos

config DEMO_EARLY_INITCALLS
    bool "Enable demo for early initicalls"
    default n

config DEMO_LATE_INITCALLS
    bool "Enable demo for late initicalls"
    default n

config DEMO_DRIVERS
    bool "Enable demo for drivers"
    default n

config DEMO_PV_TWANVISOR
    depends on SUBSYS_TWANVISOR
    bool "Enable demo for twanvisor"
    default n